# Multiple Observational Units in a Table (Normalization)

In [2]:
import pandas as pd

billboard = pd.read_csv('billboard.csv')

billboard_long = billboard.melt(
  id_vars=["year", "artist", "track", "time", "date.entered"],
  var_name="week",
  value_name="rating",
)

billboard_long

,year,artist,track,time,date.entered,week,rating
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [3]:
#Suppose we subset the data based on a particular track:

print(billboard_long.loc[billboard_long.track == 'Loser'])

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [4]:
billboard_songs = billboard_long[
    ["year", "artist", "track", "time"]
]
print(billboard_songs.shape)

(24092, 4)

In [5]:
#We know there are duplicate entries in this dataframe, so we need to drop the duplicate rows.

billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

In [6]:
billboard_songs['id'] = billboard_songs.index + 1
print(billboard_songs)

     year            artist                    track  time   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22    1
1    2000           2Ge+her  The Hardest Part Of ...  3:15    2
2    2000      3 Doors Down               Kryptonite  3:53    3
3    2000      3 Doors Down                    Loser  4:24    4
4    2000          504 Boyz            Wobble Wobble  3:35    5
..    ...               ...                      ...   ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10  313
313  2000  Yearwood, Trisha          Real Live Woman  3:55  314
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19  315
315  2000     Zombie Nation            Kernkraft 400  3:30  316
316  2000   matchbox twenty                     Bent  4:12  317

[317 rows x 5 columns]

Now that we have a separate dataframe about songs, we can use the newly created id column to match a song to its weekly ranking.

In [7]:
# Merge the song dataframe to the original data set
billboard_ratings = billboard_long.merge(
    billboard_songs, on=["year", "artist", "track", "time"]
)
print(billboard_ratings.shape)

(24092, 8)

In [9]:
billboard_ratings

,year,artist,track,time,date.entered,week,rating,id
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0,1
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0,2
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0,3
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0,4
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0,5
...,...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN,313
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN,314
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN,315
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN,316
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN,317

In [11]:
billboard_ratings = billboard_ratings[
     ["id", "date.entered", "week", "rating"]
]
billboard_ratings

        id date.entered  week  rating
0        1   2000-02-26   wk1    87.0
1        2   2000-09-02   wk1    91.0
2        3   2000-04-08   wk1    81.0
3        4   2000-10-21   wk1    76.0
4        5   2000-04-15   wk1    57.0
...    ...          ...   ...     ...
24087  313   2000-04-29  wk76     NaN
24088  314   2000-04-01  wk76     NaN
24089  315   2000-03-18  wk76     NaN
24090  316   2000-09-02  wk76     NaN
24091  317   2000-04-29  wk76     NaN

[24092 rows x 4 columns]